.addProdSect {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #201c1c, $alpha: 0.5);
  top: 0;
  border-radius: 10px;
  display: flex;
  position: fixed;
  .addProdDiv {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    align-items: end;
    justify-content: space-around;
    padding: 30px;
    form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      input {
        width: 400px;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding: 20px;
      }
    }
  }
}
