.navbar {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: rgb(26, 15, 15);
  .container-fluid {
    background-color: rgb(184, 184, 184);
    padding: 10px;
    gap: 10px;
  }
}
