.tableSect {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  table {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    tr,
    td,
    th {
      border: 1px solid black;
    }
    .buttonsTd {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      button {
        border-radius: 10px;
        border: none;
        padding: 10px;
      }
    }
  }
}
